<div class="sign-up-form">
<h1 class="medium-heading">Sign up</h1>
<form class="example-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
        <td>
            <md-checkbox>You must be 18 or over to use this app. Please confirm</md-checkbox>
            <md-input-container class="example-full-width">
                <input mdInput placeholder="Username">
            </md-input-container>
        </td>
    </tr>
    <tr>
        <td>
            <md-input-container class="example-full-width">
                <input type="password" mdInput placeholder="Password">
            </md-input-container>
        </td>
    </tr>
    <tr><button md-button>Sign up</button></tr>
  </table>
</form>
</div>
